@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Hanken Grotesk", sans-serif;
}

html {
    font-size: 1.1rem;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
